
  .together{
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;/*盒模型*/
    height: 220px;
    padding:8px 0px;
    border:0.1px solid #d1d9e0;
    border-radius: 5px;
    margin: 10px auto;
    padding-left:10px;
  }
  .calendar {
    display: inline-block;
    margin:10px auto;
    height: 180px;
    width: 500px;
  }
  
  .grid-item {
    width: 11px;
    height: 11px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .grid-item.checked {
    background-color: #92e39a;
  }
  
  .grid-item.unchecked {
    background-color:#efefef;
    opacity: 0.5;
  }
  
  .grid-item:hover {
    opacity: 0.8;
  }
  /* 月份格子容器样式 */
.month-container {
  display: grid;
  grid-template-columns: repeat(31, 11px); /* 每周7天 */
  gap: 4px;
  margin: 2px;
  justify-content: center;
}

.month-header {
  margin: 4px 0;
}
.month_float{
  width:12px;
  font-size: 6px;
  display: inline-block;
}
.tooltip{
  border: 1px solid #ccc;
  background-color: #060d2a;
  padding: 2px 5px;
  margin:1px;
  border-radius: 5px;
  display: none;
  color:#fff;
  font-size:10px;
}
label,span,.cpright{
  font-size: 12px;
}
span{
  margin-right: 10px;
}
select{
  border: 1px solid lightblue;
  text-align: right;
  font-size: 11px;
  margin: 0px 20px 0px 2px;
}
.cpright{
  color:#ccc;
}
.fireworks{
  position:absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: explode 0.5s ease-out forwards;
  opacity: 0.5;
  background-color: aqua;
}

@keyframes explode {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(3);
      opacity: 0;
  }
}