
  .together{
    display: block;
    font-family: "微软雅黑",  sans-serif !important;
    width:max-content;
    text-align: center;
    box-sizing: border-box;/*盒模型*/
    height: max-content;
    padding:8px 0px;
    border-top:0.1px dashed #d1d9e0;
    border-bottom:0.1px dashed #d1d9e0;
    border-radius: 5px;
    margin: 10px auto;
    padding-left:10px;
  }
  .calendar {
    display: inline-block;
    margin:auto;
    height: max-content;
    width: 500px;
  }
  
  .grid-item {
    width: 11px;
    height: 11px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .grid-item.checked {
    background-color: #92e39a;
  }
  
  .grid-item.unchecked {
    background-color:#efefef;
    opacity: 0.5;
  }
  
  .grid-item:hover {
    opacity: 0.8;
  }
  /* 月份格子容器样式 */
.month-container {
  width:500px;
  display: grid;
  grid-template-columns: repeat(31, 11px); /* 每周7天 */
  gap: 4px;
  margin: 2px;
  justify-content: center;
}
#desc_blocks{
  width: max-content;
  display: inline-block;
  padding: 1px;
  margin:0px 1px;
}
.desc_blocks_item{
  display: inline-block;
  width: 11px;
  height: 11px;
  border:1px solid #ddd;
  border-radius: 2px;
}
.month-header {
  width: 30px;
  font-size: 8px;
}
.month_float{
  width:30px;
  display: inline-block;
  margin-bottom: 1px;
}

.tooltip{
  width:80px;
  border: 1px solid #ccc;
  background-color: #060d2a;
  padding: 2px 5px;
  margin:1px;
  border-radius: 5px;
  display: none;
  color:#fff;
  font-size:10px;
}
label,span,.cpright,.lessmore{
  font-size: 12px;
}
.lessmore{
  text-align: right;
  margin-right: 5px;
}
span{
  margin-right: 20px;
}
select{
  appearance: none; /* 去除默认样式 */
  -webkit-appearance: none; /* 针对WebKit浏览器（Chrome, Safari等） */
  -moz-appearance: none; /* 针对Firefox */
  text-align: center; /* 尝试居中文本 */
  text-align-last: center; /* 确保选中的项居中 */
  width: 60px;
  border-bottom: 1px solid lightblue;
  font-size: 11px;
  margin: 0px 20px 0px 2px;
}
option{

}
.cpright{
  color:#ccc;
  opacity: 0.5;
}
.fireworks{
  position:absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: explode 0.5s ease-out forwards;
  opacity: 0.5;
  background-color: aqua;
}

@keyframes explode {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(3);
      opacity: 0;
  }
}